{
    "env": {
        "browser": true,
        "jquery": true,
    },
    "globals": {
        "TicTacToe": true,
        "_": true,
        "Backbone": true
    },
	"ecmaFeatures": {
        "jsx": true
    }
}